<% provide(:title, "Crew Memebers fund their Projects") %>
<div class="block featured_img">
	<div class="container">

		<div class="row">
			<div class="span6">
				<h3 class="featured_img_white_box ">Fund your <b>independent film projects</b> through your crew mates and distribute the revenue as percentage to each member and their amount of individual effort.</h3>
				<% if not loged_in? %>
					<br>
					<%= link_to "Sign up now!", signup_path, class: "btn-blue btn-big" %>
				<% end %>
			</div>
		</div> <!-- row -->

	</div>
</div>

<div class="block be-light-mokka">
	<div class="container">

		<div class="row">

			<div class="span12">
				<h3 class="text-center">
					Start your project TODAY with the tools and equipment your crew members have. Share the revenue equally as percentage to each crew members effort.
				</h3>
			</div>

		</div> <!-- row -->

	</div>
</div>

<div class="block-white">
	<div class="container">

		<div class="row">

			<center><h1>Manage the crews<br>&nbsp;</h1></center>

			<div class="span3">
				<center><%= image_tag "icon-reciept-100x100.png" %>
				<h3>Expenses</h3></center>
				Track each members real costs. Like travel, accomodation, food and that kind of real costs.
			</div>
			<div class="span3">
				<center><%= image_tag "icon-rental-100x100.png" %>
				<h3>Rentals</h3></center>
				Each member can add their specific disposel, without the production couldn't be relized.
			</div>
			<div class="span3">
				<center><%= image_tag "icon-workinghours-100x100.png" %>
				<h3>Working Hours</h3></center>
				Everyon can add their specific working hours.
			</div>
			<div class="span3">
				<center><%= image_tag "icon-revenue-100x100.png" %>
				<h3>Revenue</h3></center>
			</div>
		</div> <!-- row -->

	</div>
</div>

<div class="block-white">
	<div class="container">

		<div class="row">
			<div class="span3">
				<h3>What</h3>
				Manage and Track your crew's expenses and equaly distribute the income to the crew members
			</div>

			<div class="span3">
				<h3>Why</h3>
				Start your project right a way without any budget and use the tools your crew can offre
			</div>

			<div class="span3">
				<h3>How</h3>
				easyly log in add your members and start to track each expenses and incomes for free.
			</div>

			<div class="span3">
				<h3>How</h3>
				easyly log in add your members and start to track each expenses and incomes for free.
			</div>
		</div> <!-- row -->

		<p>&nbsp;</p>
		<p>&nbsp;</p>

	</div>	
</div><!-- block-white -->

<div class="block be-light-mokka">
	<div class="container">

		<div class="row">
			<div class="span12">
				<h2 class="text-center">How does it work</h2>
				<h3 class="text-center">1.</h3>
				Sign Up to "IN CREW Fu" and add your first project.

				<h3 class="text-center">2.</h3>
				Add each CREW MEMBER to the project.

				<h3 class="text-center">3.</h3>
				Each CREW MEMBER can add their own persenal:
				<ul>
					<li>Expenses</li>
					<li>Rentals</li>
					<li>Workinghours</li>
				</ul>

			</div>
		</div> <!-- row -->
		
	</div>
</div>
