<% provide(:title, "Crew Members fund their Projects") %>
<div class="block featured_img">
	<div class="container">

		<div class="row">
			<div class="span6">
<!--				<h3 class="featured_img_white_box ">Fund your <b>independent film projects</b> through your crew mates and distribute the revenue as percentage to each member and their amount of individual effort.</h3>
-->

				<h3><b>Financing your film all by yourself?</b></h3>
				<h4 style="line-height: 30px; font-weight: 400;">
					Then you rely on every crew member's volunteer work and financial support … until you receive a revenue.<br><br>
					<b>Increwfu</b> helps you to track your crew's contributions to the film and to organize the pay back amount when revenues come in.
				</h4>


				<% if not loged_in? %>
					<br>
					<%= link_to "Sign up now!", signup_path, class: "btn-blue btn-big" %>
				<% end %>
			</div>
		</div> <!-- row -->

	</div>
</div>

<div class="block be-light-mokka">
	<div class="container">

		<div class="row">

			<div class="span12">

<!--				<h3 class="text-center">
					Financing your film all by yourself?
				</h3>
				<h4 class="text-center">
					<p>Then you rely on every crew member's volunteer work and financial support … until you receive a revenue.</p>
					<p>Increwfu helps you to track your crew's contributions and to organize the pay back amount when revenues come in.</p>
				</h4>

				<hr>
-->
				<div class="hr_block", style="padding-top: 0;">
					<h1 class="text-center">Getting Started</h1>
					<h4 class="text-center description_block">
						You create a new project and invite your crew members to the project.
						Logged in, each member can submit their contributions to the film, such as expenses, rentals and working hours.
					</h4>
				</div>

				<div class="hr_block">
					<h1 class="text-center">Contributions</h1>
					<h4 class="text-center description_block description_block_wide", style="width: 100%;">
						<div style="display: inline-block; width: 30%; vertical-align: top;"><%= image_tag "n1-icon-expenses-100x100.png", style: "margin-bottom: 20px;" %><br><span style="font-size: 24px;">Expenses</span><br><br>All real costs like travel, props, lunch, accommodation, etc.</div>
						<div style="display: inline-block; width: 30%; vertical-align: top;"><%= image_tag "n2-icon-rental-100x100.png", style: "margin-bottom: 20px;" %><br><span style="font-size: 24px;">Rentals</span><br><br>Borrowed items such as a microphone, camera, edeting suit/laptop.</div>
						<div style="display: inline-block; width: 30%; vertical-align: top;"><%= image_tag "n3-icon-workinghours-100x100.png", style: "margin-bottom: 20px;" %><br><span style="font-size: 24px;">Working hours</span><br><br>The time duration each crew member puts into the film.</div>
					</h4>
				</div>

				<div class="" style="padding-top: 60px;">
					<h1 class="text-center">Revenues</h1>
					<h4 class="text-center description_block description_block_wide", style="padding-bottom: 20px;">
						<%= image_tag "n4-icon-revenue-100x100.png", style: "margin-bottom: 20px;" %><br>
						Once your film creates revenue, the project creator adds the amount to the project.

						The project status page calculates and displays the amount each crew member receives from the revenue. It's that simple!

						If the revenue does not cover all contributions, the pay-out amounts for the expenses are given priority, followed by rental fees and working hours.
					</h4>
				</div>

			</div>

		</div> <!-- row -->

	</div>
</div>



<!--

<div class="block-white">
	<div class="container">

		<div class="row">

			<center><h1>With INCREWFU you can manage your<br>&nbsp;</h1></center>

			<div class="span3">
				<center><%= image_tag "icon-reciept-100x100.png" %>
				<h3>Expenses</h3></center>
			</div>
			<div class="span3">
				<center><%= image_tag "icon-rental-100x100.png" %>
				<h3>Rentals</h3></center>
			</div>
			<div class="span3">
				<center><%= image_tag "icon-workinghours-100x100.png" %>
				<h3>Working Hours</h3></center>
			</div>
			<div class="span3">
				<center><%= image_tag "icon-revenue-100x100.png" %>
				<h3>Revenue</h3></center>
			</div>
		</div> <!-- row --

	</div>
</div>

-->


<div class="block be-light-blue">
	<div class="container">

		<div class="row">

			<div class="span12">
				<h3 class="text-center description_block" style="margin-top: 30px; padding-bottom: 20px;">
					Start your project TODAY with the help and tools your crew members have to contribute.
				</h3>
			</div>

		</div> <!-- row -->

	</div>
</div>
