<% provide(:title, "Crew Memebers fund their Projects") %>
<div class="block featured_img">
	<div class="container">

		<div class="row">
			<div class="span6">
				<h3 class="featured_img_white_box ">Fund your <b>independent film projects</b> through your crew mates and distribute the revenue as percentage to each member and their amount of individual effort.</h3>
				<% if not loged_in? %>
					<br>
					<%= link_to "Sign up now!", signup_path, class: "btn-blue btn-big" %>
				<% end %>
			</div>
		</div> <!-- row -->

	</div>
</div>

<div class="block be-light-mokka">
	<div class="container">

		<div class="row">

			<div class="span12">

				<h3 class="text-center">
					Financing your low budget film yourself?
				</h3>
				<h4 class="text-center">
					<p>Then you rely on every crew member's effort, advance payments and volunteer work.</p>
					<p>Increwfu helps you to track your crew's expenses and allows you to equally share your revenues with your crew mates once your film finds distributing channels.</p>

				</h4>

				<hr>

				<h3 class="text-center">Getting Started:</h3>
				<h4 class="text-center">
					<p>You create a new project and invite your crew members to the project.</p>
					<p>Each member can submit their contributions to the film, such as expenses, rentals and working hours.</p>
				</h4>

				<hr>

				<h3 class="text-center">Contributions:</h3>

				<hr>

				<h3 class="text-center">Revenues:</h3>
				<h4 class="text-center">
					<p>The revenue will be disseminated proportionally to the three different contribution groups. If the revenue does not cover all contributions, the pay-out of expenses is given priority, followed by rentals and lastly the working hours.</p>
				</h4>

			</div>

		</div> <!-- row -->

	</div>
</div>




<div class="block-white">
	<div class="container">

		<div class="row">

			<center><h1>Manage the crews<br>&nbsp;</h1></center>

			<div class="span3">
				<center><%= image_tag "icon-reciept-100x100.png" %>
				<h3>Expenses</h3></center>
			</div>
			<div class="span3">
				<center><%= image_tag "icon-rental-100x100.png" %>
				<h3>Rentals</h3></center>
			</div>
			<div class="span3">
				<center><%= image_tag "icon-workinghours-100x100.png" %>
				<h3>Working Hours</h3></center>
			</div>
			<div class="span3">
				<center><%= image_tag "icon-revenue-100x100.png" %>
				<h3>Revenue</h3></center>
			</div>
		</div> <!-- row -->

	</div>
</div>

<div class="block be-light-mokka">
	<div class="container">

		<div class="row">

			<div class="span12">
				<h3 class="text-center">
					Start your project TODAY with the tools and equipment your crew members have. Share the revenue equally as percentage to each crew members effort.
				</h3>
			</div>

		</div> <!-- row -->

	</div>
</div>
