			<div class="span3">
				<ul class="user_side_menu">
					<li><%= link_to raw("<strong>Project Status</strong>"), status_project_path %></li>
					<li><%= link_to "My Contributions", "/projects/#{current_project.id}/member/#{current_user.id}/expenses" %></li>
<!--					<li><%= link_to 'show Crew Members', all_crew_members_project_path %></li> -->
					<% if current_project.creator_id == current_user.id %>
						<li class="side_menu_gap"><%= link_to "Add Crew Member", addcrewmember_project_path %></li>
						<li><%= link_to "Edit Project Details", edit_project_path %></li>
					<% end %>
					<li class="side_menu_gap"><%= link_to "Back to Project Overview", current_project %></li>
					<li><%= link_to "Back to Account", current_user %></li>
				</ul>
			</div>
