<% provide(:title, "Status") %>

<div class="block block_light_gray">
	<div class="container">
		<%= render 'shared/project_header' %>
	</div>
	<%= render 'shared/back_to_project' %>
</div>

<div class="block be-light-mokka">
	<div class="container">

		<div class="row">
			<div class="span12">

				<ul class="big_status">
					<li>
						<div class="icon_reciept_100"></div>
						<h3><b><%= number_with_precision(@all_expenses, :precision => 2) %></b> <%= current_project.currency %></h3>
						Total expenses
					</li>

					<li>
						<div class="icon_rental_100"></div>
						<h3><b><%= number_with_precision(@all_rentals, :precision => 2) %></b> <%= current_project.currency %></h3>
						Total rents
					</li>

					<li>
						<div class="icon_workinghours_100"></div>
						<h3>
							<b><%= @all_hours %></b>h
							<b><%= @all_minutes %></b>min
						</h3>
						Total Working Hours
					</li>
					<li>
						<div class="icon_revenue_100"></div>
						<h3>
							<b><%= number_with_precision(@all_revenues, :precision => 2) %></b> <%= current_project.currency %>
						</h3>
						Total Revenue
					</li>
				</ul>

			</div>
		</div> <!-- row -->

	</div>
</div>

<div class="block-white">
	<div class="container">
		<div class="row">

			<div class="span10 offset1">
				<h3 class="text-center"><%= current_project.assigned_projects.count %> Crew Members</h3>
				<hr>
				<ul class="member_block">
<!--					<li><ul><li><span class="member_name">Username</span></li><li><span>Expenses</span></li></ul></li>-->
					<% @members.each do |m| %>
						<li>
							<a href=<%= "/projects/#{current_project.id}/member/#{m.id}/expenses" %> class="member_block_link">
								<ul>
									<li>
										<span class="member_name"><%= m.username %></span>
										<span class="member_position">
											<%= m.assigned_projects.find_by_project_id(current_project.id).position %>
										</span>
									</li>
									<li class="values_standards">
										<span><%= number_with_precision(current_project.expenses.where(user_id: m.id).sum(:amount), :precision => 2) %>
										</span>
									</li>
									<li class="icon member_expenses_icon"></li>
									<li class="values_standards">
										<span>
											<%= number_with_precision(current_project.rentals.where(user_id: m.id).sum(:amount), :precision => 2) %>
										</span>
									</li>
									<li class="icon member_rental_icon"></li>
									<li class="values_standards">
										<span>
											<%= number_with_precision( current_project.workinghours.where(user_id: m.id).sum(:hours) + (current_project.workinghours.where(user_id: m.id).sum(:minutes).to_f / 60), :precision => 2 ) %> h
										</span>
									</li>
									<li class="icon member_workinghours_icon"></li>
									<li class="values_standards revenue_list">
										<span>

												<%= number_with_precision( calculate_user_income(@all_expenses, @all_rentals, (@all_hours + (@all_minutes.to_f / 60) ), @all_revenues, m), precision: 2 ) %>

										</span>
									</li>
									<li class="icon member_revenue_icon"></li>
								</ul>
							</a>
						</li>
					<% end %>
				</ul>
			</div>
			
		</div><!-- row -->
	</div>
</div>