<% provide(:title, "Show single revenue") %>

<div class="block block_light_gray">
	<div class="container">
		<%= render 'shared/project_header' %>
	</div>

	<div style="display: block; background: rgba(0,0,0,.5); top: 20px; line-height: 40px;">
		<div class="container">
			<%= link_to raw("<i class=\"icon-chevron-left icon-white\" style=\"top: 3px;\"></i> back"), "/projects/#{current_project.id}/member/#{@member.id}/revenues", class: "back_to_link" %>
		</div>
	</div>

</div>

<div class="block-white">
	<div class="container">

		<div class="row">
			
			<div class="span2"></div>

			<div class="span8">

				<div class="well">

					<table class="table table-bordered" style="background: white;">
						<tr>
							<td>Member:</td>
							<td><%= @member.username %></td>
						</tr>
						<tr>
							<td width="150px">Description:</td>
							<td><%= @revenue.description %></td>
						</tr>
						<tr>
							<td>Amount:</td>
							<td><%= number_with_precision(@revenue.amount, precision: 2) %> <%= current_project.currency %></td>
						</tr>
						<tr>
							<td>Date:</td>
							<td><%= @revenue.date.strftime("%d. %m. %Y") %></td>
						</tr>
					</table>
					
					<% if current_user.id == current_project.creator_id %>
						<%= link_to "Edit revenue", edit_revenue_path, class: "btn-medium btn-blue" %>
					<% end %>

				</div>

			</div>

		</div>	<!-- row -->
		
	</div>
</div>