<footer class="block-footer">
	<div class="container">
		<h4 class="footer-logo-txt">
			<center><%= image_tag "logo-50x50.png" %></center>
		</h4>

		<div class="row">
			<div class="span12">
				
				<nav class="footer-menu">

					<div class="text-center">
						<%= link_to "home", root_url, class: "footer_small" %>
						|
						<%= link_to "contact", contact_path, class: "footer_small" %>
<!--						|
						<%= link_to "faq", faq_path, class: "footer_small" %>
-->					</div>


<!--

					<div class="footer-menu-block">
						ICF
						<ul>
							<li><%= link_to "home", root_url %></li>
							<li><%= link_to "contact", contact_path %></li>
						</ul>	
					</div>

					<div class="footer-menu-block">
						help
						<ul>
							<li><a href="#">Anleitung</a></li>
							<li><a href="#">FAQ</a></li>
							<li><a href="#">Support</a></li>
						</ul>	
					</div>

					<div class="footer-menu-block">
						about us
						<ul>
							<li><%= link_to "contact", contact_path %></li>
							<li><a href="#">Team</a></li>
							<li><a href="#">Blog</a></li>
						</ul>	
					</div>

					<div class="footer-menu-block">
						social
						<ul>
							<li><a href="#">google+</a></li>
							<li><a href="#">twitter</a></li>
							<li><a href="#">facebook</a></li>
						</ul>	
					</div>

					<div class="footer-menu-block">
						legal
						<ul>
							<li><a href="#">Terms of Service</a></li>
							<li><a href="#">Imprint</a></li>
						</ul>	
					</div>

-->

				</nav>

				<center style="display: block; font-weight: 400; margin-top: 50px;"> made with &#10084; by Independent Crew Funding 2014 </center>

			</div>
		</div><!-- row -->

	</div> <!-- container -->
</footer>